<div class="container">


<h1>API Results Here</h1>

<p>Your list of beers that have a(n) "<%= @parameter %>" of value <%= @value %>:</p>

<li><%= @name %></li>
<li><%= @description %></li>
<li><%= @parameter_results %></li>

<p><%= @parsed_results %></p>

</div>
